# Build objects and artifacts
*.pyc
*.pyo
*.log
*.proto.h
*.proto.cc
*.pb.h
*.pb.cc

# System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.swp
.vscode

.idea/
cmake_build_android_arm64/
host_flatc_build/
cmake_build/

/.bazelrc.user
/bazel-*
.vscode/
*.whl
/.litert_configure.bazelrc