<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- Template: the version placeholders below are filled in with the LiteRT
     release version by the CLiteRT_info_plist rule in this directory's BUILD
     file. -->
<plist version="1.0">
    <dict>
        <key>CFBundleDevelopmentRegion</key>
        <string>en</string>
        <key>CFBundleExecutable</key>
        <string>CLiteRT</string>
        <key>CFBundleIdentifier</key>
        <string>com.google.odml.litert.CLiteRT</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleName</key>
        <string>CLiteRT</string>
        <key>CFBundlePackageType</key>
        <string>FMWK</string>
        <key>CFBundleShortVersionString</key>
        <string>@VERSION@</string>
        <key>CFBundleVersion</key>
        <string>@VERSION@</string>
    </dict>
</plist>
