<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.odml.litert.litert.aot"
    android:versionCode="1"
    android:versionName="1.0">

  <uses-sdk
      android:minSdkVersion="19"
      android:targetSdkVersion="33" />

  <application
      android:allowBackup="false"
      android:theme="@style/AppTheme.TFLite"
      android:label="@string/app_name"
      android:taskAffinity="">

    <uses-native-library android:name="libcdsprpc.so" android:required="false" />
    <uses-native-library android:name="libedgetpu_util.so" android:required="false" />

    <activity
        android:name=".MainActivity"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
</manifest>
