<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.ai.edge.litert">

    <uses-sdk android:minSdkVersion="21" />

    <!-- NOTE: Developers need to copy permission declarations to their app's manifest. -->
    <!-- Required for downloading AiPack models. -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application>
        <!-- Applications that target Android S+ require explicit declaration of
             any referenced vendor-provided libraries. -->
        <uses-native-library
            android:name="libOpenCL.so"
            android:required="false" />

        <uses-native-library
            android:name="libOpenCL-car.so"
            android:required="false" />

        <uses-native-library
            android:name="libOpenCL-pixel.so"
            android:required="false" />

        <uses-native-library
            android:name="libvndksupport.so"
            android:required="false" />

        <!-- Qualcomm NPU -->
        <uses-native-library android:name="libcdsprpc.so" android:required="false" />
        <!-- Google Tensor NPU -->
        <uses-native-library android:name="libedgetpu_util.so" android:required="false" />

    </application>

</manifest>
